
// @import '../common/base';
@use "../common/base" as *;

section {
      
        main{
             @extend %sectionWidth;
             
            .experience_box_wrapper{
                color: #3f3f3f;
                .css-1b3lipl{
                    &:before{
                        top: 35px;
                        background-color: $primaryColor;
                    }
                }
                
                .css-vcfpfv {
                    -webkit-transform: none;
                    -ms-transform: none;
                    transform: none;
                    outline: none;
                    background-color: transparent;
                    border: 1px solid $primaryColor;
                    border-radius: 50%;
                    top: 10px;
                    
                }

                .css-692fgp{
                    color: #3f3f3f;
                    background-color: none;
                    padding: 0;
                }
            }

        }
    
}